<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Appium_PNB">
    <classes>
      <class name="testcases.Beneficiary"/>
      <class name="testcases.MetaAPI"/>
      <class name="testcases.Payee"/>
      <class name="testcases.Payer"/>
      <class name="testcases.Remitter"/>
    </classes>
  </test> <!-- Appium_PNB -->
</suite> <!-- Suite -->
